.section1-wrap{
    height: 900px;
}
.ClubInfo-wrap{
    background-color: white;
}
.section2-wrap .ClubInfo-typo-wrap{
    color : #293277;
    font-family: "Gmarket Sans TTF";
    font-weight: 600;
    text-decoration: none;
    font-size: 50px;
}