.section1-wrap{
    height: 750px;
}
.ClubInfo-wrap{
    background-color: white;
    
}
.ClubInfo-typo-wrap p{
    color : #293277;
    font-family: "Gmarket Sans TTF";
    font-weight: 600;
    text-decoration: none;
    font-size: 70px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ClubInfo-typo-wrap{
    width: 100%;
    height: 300px;
}
