.ClubFinder_wrap{
    /* margin-top:200px; */
    padding-top: 50px;
    z-index: 99;

}
.ClubFinder_box1{

    margin: 0 auto;
    width: 900px;
    height: 600px;
    padding: 50px;
    top: -100px;

    background-image: url("../media/madoung_finder.png");
    background-position:100px -100px;
    background-size: 700px;
    background-repeat: no-repeat;
    
}
.ClubFinder_box1 h1{
    font-size: 80px;
}
.ClubFinder_box1 h2{
    font-size: 30px;
    color: rgb(243, 243, 243);
}

#FindClub_btn{
    
    margin: 0 auto;
    margin-top: 80px;
    width: 260px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(255, 255, 255, 0.707);
    border: solid yellow 3px;
    border-radius: 20px;
    color: black;
    font-size: 50px;
    font-weight: 700;
}
#FindClub_btn:hover{
    background-color: rgba(255, 255, 255, 0.534);


}
.ClubFinder_modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.455);
    
}
.ClubFinder_modal .modal_box{
    width: 820px;
    height: 600px;
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 70px;
    padding: 0px;
    background-color: rgb(14, 33, 176);
    border-radius: 30px;
}
#modal_header{
    display: inline-block;
    width: 90%;
    height: 50px;
    align-items:start;
    /* align-content: center; */
    line-height: 50px;
    background-color: white;
    color: rgb(14, 33, 176);
    font-size: 25px;
    font-weight: 600;
    border-radius: 30px 0px 0px 0px;
}
#closeModal{
    display: inline-block;
    margin: 0px;
    height: 50px;
    width: 10%;
    color: blue;
    font-size: 25px;
    font-weight: 1000;
    line-height: 50px;
    background-color: rgb(205, 202, 202);
    border-radius: 0px 30px 0px 0px;
}
#modal_article{
    margin-top: 30px;
}
/* #modal_article div{
    margin: 0 auto;
    width: 600px;
    height: 150px;
} */
.Step_num{
    margin: 0 auto;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: yellow;
    padding: 3px;
    color: rgb(14, 33, 176);
    font-size: 25px;
    font-weight: 750;
    border-radius: 30px;
   
}
.Step_question{
    font-size: 30px;
    color: yellow;
}
.Step1_box{
    height: 300px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}
.Step1_card{
    margin: 10px;
    width: 25%;
    height: 120px;
    line-height:120px;
    border-radius: 10px;
    flex-shrink: 0;
    border: 7px solid  rgb(93, 118, 203);
    color: rgb(93, 118, 203);
    font-size: 40px;
    font-weight: 800;
}
.Step1_card:hover{
    background-color: rgba(123, 123, 123, 0.27);
}
/* .Step1_card:checked{
    background-color: black;
} */
#modal_btn svg{
    
    width: 100px;
    height: 80px;
    fill: white;
    display: inline-block;
}

.box2_headbox{
    margin: 0 auto;
    background-color: white;
    width: 400px;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
}
.ClubFinder_box2{
    padding-top: 20px;
    width: 100%;
    height: 900px;
    background-color: white;
    color: blue;
}
.ClubFinder_box2 h1{
    margin: 0px;
    font-size: 60px;

}
.ClubFinder_box2 h4{
    font-size: 30px;
    color: darkblue;

}
.Club_CardBundle{
    
    width: 60%;
    height: 90vh;
    margin: 0px auto;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content: space-evenly;
    align-items: center;
}
.Club_card{
    width: 15vw;
    height: 32vh;
    margin: 20px;
    flex-shrink: 0;
    line-height: 32vh;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(142, 103, 103);
}
.Club_card:hover{
    transform: scale(1.01);
    /* background-color: rgba(111, 116, 118, 0.093); */
    box-shadow: 3px 4px 3px rgba(108, 108, 108, 0.533);

}
.Club_card:nth-child(1){
    color: yellowgreen;
    border: solid yellowgreen 3px;
}
.Club_card:nth-child(2){
    color: blue;
    border: solid blue 3px;
}
.Club_card:nth-child(3){
    color: orange;
    border: solid orange 3px;
}
.Club_card:nth-child(4){
    color: rgb(0, 255, 136);
    border: solid rgb(0, 255, 136) 3px;
}
.Club_card:nth-child(5){
    color: rgb(201, 104, 188);
    border: solid rgb(201, 104, 188) 3px;
}
.Club_card:nth-child(6){
    color: rgb(243, 53, 53);
    border: solid rgb(243, 53, 53) 3px;
}