.main01{
    height: 1400px;
    position: relative;
}
.main01:after {
    content: "";
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(23,60,181,1) 100%);
}
.main02{
    height: 550px;
    background-color: #173CB5;
    
}
.main03{
    height: 1500px;
    background-color: #173CB5;
}

.main04{
    height: 800px;
    background-color: white;
}
.typo-wrap{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    white-space: nowrap;
}

.typo-wrap .type01 .fill{
    position: relative;
    transform: translateX(0) translateY(-6%);
    width: 600px;
    height: 220px;
    background-image: url("../media/main01_typo01.svg");
}
.typo-wrap .type02 .fill{
    position: relative;
    transform: translateX(0) translateY(-40%);
    width: 700px;
    height: 400px;
    background-image: url("../media/main01_typo02.svg");
}
.typo-wrap .type03 .fill{
    position: relative;
    transform: translateX(100%) translateY(-155%);
    width: 500px;
    height: 250px;
    background-image: url("../media/main01_typo03.svg");
}
.typo-wrap .type04 .fill{
    position: relative;
    transform: translateX(-90%) translateY(-320%);
    width: 170px;
    height: 170px;
    background-image: url("../media/main01_typo04.svg");
}
.model-wrap{
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(10%);
}
.model-wrap .model img{
    width: 1000px;
    height: 1200px;
    
}


.tit-wrap{
    color : white;
    font-family: "Gmarket Sans TTF";
    font-weight: bold;
    text-decoration: none;
}

/* CSS 파일 (예: Main.css) */
@keyframes fadeInText {
    0% {
      opacity: 0;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%);
    }
}
/* 글자가 나타날 때 애니메이션 적용할 클래스 */
/* 원하는 지속 시간 및 이징 함수로 설정 */
.fade-in-text {
  animation: fadeInText 0.5s ease-in-out;
  
}
@keyframes fadeInModel{
    0% {
       
        transform: translateX(0) translateY(10%);
    }
    100% {
        
        transform: translateX(-50%) translateY(10%);
    }
}
.fade-in-model {
    animation: fadeInModel 0.7s ease-in-out;
    
  }

.tit-wrap{
    padding-top: 150px;
}
.tit-wrap p{
    font-size: 100px;
    font-family: "Gmarket Sans TTF";
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin : 0;
}
.boxmenu-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model03-wrap{
    width: 100%;
    height: 100%;
}
.model03-model01{
    position: relative;
    transform: translateX(10%) translateY(-66%);
    width: 800px;
    height: 800px;
    background-image: url("../media/main03_model01.svg");
}
.slide-box{
    position: relative;
    transform: translateX(70%) translateY(-540%);
    width: 400px;
    height: 300px;
    background-color: red;
    
}
.model03-model02{
    position: relative;
    transform: translateX(600%) translateY(-640%);
    width: 100px;
    height: 300px;
    background-image: url("../media/main03_model02.svg");
}
.model03-model03{
    position: relative;
    transform: translateX(320%) translateY(-500%);
    width: 380px;
    height: 380px;
    background-image: url("../media/main03_model03.svg");
}
/* 발자국css */
.footprint-wrap{
    width: 100%;
    height: 1500px;
}
.footprint-wrap .footprint01{
    position: relative;
    transform: translateX(1600%) translateY(100%);
    width: 40px;
    height: 40px;
    background-image: url("../media/발자국01.svg");
}
.footprint-wrap .footprint02{
    position: relative;
    transform: translateX(1500%) translateY(100%);
    width: 40px;
    height: 40px;
    background-image: url("../media/발자국02.svg");
}
.footprint-wrap .footprint03{
    position: relative;
    transform: translateX(1100%) translateY(100%);
    width: 50px;
    height: 50px;
    background-image: url("../media/발자국03.svg");
}
.footprint-wrap .footprint04{
    position: relative;
    transform: translateX(1020%) translateY(120%);
    width: 50px;
    height: 50px;
    background-image: url("../media/발자국04.svg");
}
.footprint-wrap .footprint05{
    position: relative;
    transform: translateX(650%) translateY(150%);
    width: 80px;
    height: 55px;
    background-image: url("../media/발자국05.svg");
}
.footprint-wrap .footprint06{
    position: relative;
    transform: translateX(520%) translateY(250%);
    width: 130px;
    height: 70px;
    background-image: url("../media/발자국06.svg");
}
.footprint-wrap .footprint07{
    position: relative;
    transform: translateX(450%) translateY(150%);
    width: 180px;
    height: 100px;
    background-image: url("../media/발자국07.svg");
}
.footprint-wrap .footprint08{
    position: relative;
    transform: translateX(680%) translateY(50%);
    width: 150px;
    height: 150px;
    background-image: url("../media/발자국08.svg");
}
.footprint-wrap .footprint09{
    position: relative;
    transform: translateX(800%) translateY(0%);
    width: 150px;
    height: 150px;
    background-image: url("../media/발자국09.svg");
}
.footprint-wrap .footprint10{
    position: relative;
    transform: translateX(800%) translateY(100%);
    width: 150px;
    height: 150px;
    background-image: url("../media/발자국10.svg");
}
.footprint-wrap .footprint11{
    position: relative;
    transform: translateX(600%) translateY(100%);
    width: 170px;
    height: 170px;
    background-image: url("../media/발자국11.svg");
}
.footprint-wrap .footprint12{
    position: relative;
    transform: translateX(400%) translateY(80%);
    width: 200px;
    height: 200px;
    background-image: url("../media/발자국12.svg");
}