.btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .modal-open-button, .modal-close-btn {
    cursor: pointer;
    margin-left: auto;
  }
  
  .modal-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  
  .modal-content{
    text-align: center;
  }
  .modal-box{
    width: 1100px;
    height: 700px;
    border-radius: 25px;
    border: 10px solid;
    border-color: #173CB5;
    background-color: white;
    display: flex;

}

.modal-typo{
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-detail{
    width: 700px;
    height: 700px;
    border-radius: 25px 0px 0px 25px;
    background-color: #173CB5;
    overflow: scroll;
    overflow: scroll;
}
.department-name{
    width: 100px;
    height: 60px;
}
.department-name>p{
    background-color: #173CB5;
    border-radius: 25px;
    color : white;
    font-family: "Gmarket Sans TTF";
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    
    
}
.club-name{
    width: 300px;
    height: 120px;
}
.club-name>p{
    color : #173CB5;
    font-family: "Gmarket Sans TTF";
    font-weight: 600;
    text-decoration: none;
    font-size: 40px;
}
.club-img img{
    width: 400px;
    height: 250px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.modal-close-box{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}


.modal-content-wrap{
    text-align: left;
    padding: 0px 20px;
    white-space: pre-wrap;
    
}
.modal-content-wrap>h2{
    color : #FFE600;
    font-family: "Gmarket Sans TTF";
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;  
}
.modal-content-wrap>p{
    color : white;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
}
.boxmenu-wrap a{
    text-decoration: none;
    color : #173CB5;
}