.scroll__container{
  position: fixed;
  right: 5%;
  bottom: 10%;
  z-index: 1;
}
#top{
  font-weight: bold;
  width: 70px;
  height: 70px;
  font-size: 25px;
  background-color: #c2c2c2;
  border: 1px solid #c2c2c2;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
  opacity: 80%;
}
#top:hover{
  opacity: 60%;
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 1;
  }
  #top{
    font-weight: bold;
    width: 70px;
    height: 70px;
    font-size: 25px;
    background-color: #c2c2c2;
    border: 1px solid #c2c2c2;
    border-radius: 10%;
    outline: none;
    cursor: pointer;
    opacity: 80%;
  }
  #top:hover{
    opacity: 60%;
  }
